<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket</title>
</head>
<body>
	<h4>Messages</h4>
	<div id="messages"></div>
	<h4 id="text"></h4>
	<h4 id="id"></h4>
	<div id="users">
	</div>
	<input type="text" id="toUserInput"><label for="toUserInput">Recepient ID</label><br>
	<input type="text" id="messageInput">
	<button id="send">Send Private Message</button>
	<div id="rooms"></div>
	<div id="joinRoomContainer">
		<input type="text" id="roomName">
		<button id="joinRoom">Join Room</button><br>
	</div>
	<input type="text" id="groupMessage">
	<button id="sendGroupMessage">Send Group Message</button>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		/*
		 * Instantiate a new instance of the sokcet.io client class
		 */
		var io = io();

		var roomName = "";

		/*
		 * When our client connects to our server, display relevant text to the DOM
		 */
		io.on('connect', () => {
			$('#text').text('Status: Connected').css('color','green');
			$('#id').text("My ID: " + io.id);
		});

		/*
		 * Handler for when our client attempts to reconnect after connection was lost.
		 */
		io.on('reconnecting', () => {
			$("#text").text('Status: Reconnecting').css('color','orange');
		});

		/*
		 * When our client disconnects from our server, display relevant text to the DOM
		 */
		io.on('disconnect', () => {
			$('#text').text('Status: Disconnected').css('color','red');
		});

		/*
		 * When we receive an update users event with an updated list of connected users,
		 * loop over the list of users and display all IDs of users who are not ourself.
		 */
		io.on('users', (users) => {
			/*
			 * Empty out user DOM list before re-adding users to list
			 */
			$("#users").empty();

			/*
			 * Iterate over user list and append to DOM node
			 */
			users[0].forEach((user) => {
				if (user != io.id)
					$("#users").append("<p>"+user+"</p>");
			});

			/*
			 * Attach click handler to each user ID so that when clicked the 
			 * recepient ID field is filled in 
			 */
			$("#users p").click((event) => {
				$("#toUserInput").val(event.target.innerText);
			});
		});

		/*
		 * When we receive a new message event, 
		 */
		io.on('privateMessage', (fromUser, message) => {
			$("#messages").append("<p>From: " + fromUser + "<br>Message: " + message + "</p>");
		});

		/*
		 * When we receive a new message event, 
		 */
		io.on('groupMessage', (fromUser,roomName, message) => {
			$("#messages").append("<p>From: " + fromUser + "<br>To group: " + roomName + "<br>Message: " + message + "</p>");
		});

		/*
		 * Attach click event to send button so send message to someone
		 */
		$("#send").click(() => {
			/*
			 * Check that both input fields are not empty before trying to send
			 */
			if ($("#toUserInput").val() != "" && $('#messageInput').val() != "") {
				/*
				 * Send the server the socket id of the user to send the message to and
				 * the message body.
				 */
				io.emit('privateMessage', $("#toUserInput").val(), $('#messageInput').val(), (message) => {
					$("#messages").append("<p style='color: blue;'>From: Me<br>Message: " + message + "</p>");
				});

				/*
				 * Clear message input
				 */
				$('#messageInput').val('');

				window.scrollTo(0,document.body.scrollHeight);
			}
		});

		/*
		 * Attach click event to send button so send message to someone
		 */
		$("#joinRoom").click(() => {
			/*
			 * Check that both input fields are not empty before trying to send
			 */
			if ($("#roomName").val() != "") {
				/*
				 * Send the server the socket id of the user to send the message to and
				 * the message body.
				 */
				io.emit('joinRoom', $("#roomName").val(), (data) => {
					roomName = data;
					$("#joinRoomContainer").replaceWith("<div id='currentRoom'><p>Current room: " + roomName + "</p><button id='leaveRoom'>Leave Room</button></div>");
					attachLeaveRoomHandler();
				});

				/*
				 * Clear message input
				 */
				$('#roomName').val('');
			}
		});

		function attachLeaveRoomHandler() {
			$("#leaveRoom").click(() => {
				io.emit('leaveRoom', roomName, (completed) => {
					if(completed) {
						$("#currentRoom").replaceWith("<div id'joinRoomContainer'><input type='text' id='roomName'><button id='joinRoom'>Join Room</button><br></div>")
					}
				});
			});
		}

		/*
		 * Attach click event to send button so send message to someone
		 */
		$("#sendGroupMessage").click(() => {
			/*
			 * Check that both input fields are not empty before trying to send
			 */
			if ($("#groupMessage").val() != "") {
				/*
				 * Send the server the socket id of the user to send the message to and
				 * the message body.
				 */
				io.emit('groupMessage', roomName, $("#groupMessage").val(), (message) => {
					$("#messages").append("<p style='color: blue;'>From: Me<br>Message: " + message + "</p>");
				});

				/*
				 * Clear message input
				 */
				$('#groupMessage').val('');

				window.scrollTo(0,document.body.scrollHeight);
			}
		});
	</script>
</body>
</html>