Capability Requirements:

1) Must generate an ID made of a string of random characters and numbers for every user that connects to the server

2) Every user must have the ability to create a room

3) Every user must have the ability to leave a room

4) Every user must have the ability to send a message

5) Every user can join either a one on one chat or a group chat

6) A user can only be in one chat room or in none at any given moment

7) The user that creates a room becomes the administrator of that room

8) Once the administrator of the room leaves, all participants in the room are kicked out and the room is deleted

9) Any user within a room can choose to lock the room so that no other user can enter that specific chat room

10) Any user within a locked room can choose to unlock that room

11) The name of any room is created by the user and no two rooms can have the same name

12) Every user has a designated random color for their name when their messages appear in the chat

13) Any user has the ability to block another user or to unblock those they have blocked

14) Every room has a variable keeping track of the number of participants in the room and the ID of those participants
